.table-net .clickable {
    cursor: pointer;
}

.table-net .sortable {
    color: rgba(0,0,0,0.3);
}

    .table-net .sortable:hover {
        color: inherit;
    }

.table-net.table-dark .sortable,
.table-net .thead-dark .sortable {
    color: rgba(255,255,255,0.5);
}

    .table-net.table-dark .sortable:hover,
    .table-net .thead-dark .sortable:hover {
        color: inherit;
    }

.table-net [role^="tooltip"] {
    color: rgba(0,0,0,0.3);
}

    .table-net [role^="tooltip"]:hover {
        color: inherit;
    }

.table-net.table-dark [role^="tooltip"],
.table-net .thead-dark [role^="tooltip"] {
    color: rgba(255,255,255,0.5);
}

    .table-net.table-dark [role^="tooltip"]:hover,
    .table-net .thead-dark [role^="tooltip"]:hover {
        color: inherit;
    }

.table-net [role^="tooltip"] .bubble {
    position: absolute;
    display: none;
    padding: 0.25em 0.5em;
    white-space: nowrap;
    top: calc(100% + 10px);
    font-family: var(--font-family-sans-serif);
    font-weight: normal;
    background-color: var(--dark);
    color: var(--white);
}

.table-net [role="tooltip-left"] .bubble {
    transform: translateX(calc(-100% + 1em));
}

.table-net [role="tooltip-center"] .bubble {
    transform: translateX(calc(-50% + 1em));
}

.table-net.table-dark [role^="tooltip"] .bubble {
    background-color: var(--white);
    color: var(--dark);
}

.table-net [role^="tooltip"]:hover .bubble {
    display: block;
}